#chessboard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 30px auto;
}

.green, .brown, .white {
  text-align: center;
  font-size: 70px;
  float: left;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brown, .white {
  width: 75px;
  height: 75px;
}

.brown {
  background: chocolate;
}

.white {
  background: white;
}

.green {
  background: green;
  width: 73px;
  height: 73px;
  border: 1px solid black;
}

.selected-piece {
  color: blue;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}
